@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 90vw;
    height: unset;
    /* background-color:blue; */
    margin: 0 auto;
}

header{
    background-color: #1E1C21;
    width: 100%;
    position: fixed;
    z-index: 99;
    top: 0;
}

.container_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.5vw;
}

header img{
    width: 12vw;
    margin-right: 50px;
}

.header_nav{
    /* background-color: tomato; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 788px;
    font-size: 1.5vw;
}

.header_nav a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

main{
    margin-top: 4.5vw;
}

.banner_principal {
    background-image: url(../assets/Banner_inicio_greninja.png);
    height: 700px;
    width: 100%;
    background-position: center;
}

.conteudo_banner{

    display: flex;
    align-items: flex-end;
    flex-direction: column;
    color: #ffffff;
    font-family: 'Titillium Web', sans-serif;
    /* margin: 0; */
    padding: 205px 35px;
}
h1{
    font-size: 80px;
}

.conteudo_banner span{
    font-size: 32px;
}

.conteudo_banner a{
    color: #ffffff;
    font-family: 'Titillium Web', sans-serif;
    font-size: 22px;
    text-decoration: none;
    text-transform: uppercase;
}

.conteudo_banner div{
    background-color: #0721B4;
    /* background-color: black; */
    width: 188px;
    height: 58px;
    padding: 11px 29px;
    margin: 35px 167px;
    border-radius: 10px;
}

.box_jogos{
    background-color:black;
}

.jogos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.jogos img{
    width: 10vw;
}

.box_participar_ligas{
    position: relative;
    height: 588px;
    background-image: url(../assets/bg-lol.jpg);
    display: flex;
    justify-content: space-between;
}

.retangulo_preto{
    background-color: #000000;
    width: 100%;
    clip-path: polygon(100% 0, 100% 71%, 0 100%, 0 20%);
    /* clip-path: polygon(0 33%, 100% 19%, 100% 57%, 0 71%); */
}

.conteudo_participar_ligas{
    display: flex;
    flex-direction: column;
    margin-top: 180px;
}

.conteudo_participar_ligas h2{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    width: 36vw;
    margin-bottom: 5px;
}

.conteudo_participar_ligas p{
    margin-top: 5px;
    color: white;
    font-family: 'Roboto', sans-serif;
    width: 36vw;
}

.box_participar_ligas img{
    position: absolute;
    margin: 44px 440px;
} 

.partidas{
    background-color: black;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.partidas span{
    color: white;
    font-family: 'Titillium Web', sans-serif;
    text-transform: uppercase;
}

.line{
    background-color:#ffffff;
    width: 1px;
    height: 45px;
}

.noticias_e_jogos{
    display: flex;
    background-color: #1E1C21;
    flex-direction: column;
}

.noticias_e_jogos h2{
    color: white;
    font-family: 'Titillium Web', sans-serif;
    margin: 5px 0px;
    text-transform: capitalize;
}

.noticia{
    width: 210px;
    height: 315px;
    /* background-color: #000000; */
    background: -webkit-linear-gradient(top, rgba(5,5,5,1) 0%, rgba(9,9,9,1) 0%, rgba(9,9,9,1) 0%, rgba(54,54,54,1) 28%, rgba(54,54,54,1) 49%, rgba(54,54,54,1) 50%, rgba(54,54,54,1) 67%, rgba(5,5,5,1) 100%);
    margin: 36px 0px;
}

.noticia img{
    width: 210px;
    height: auto;
}

.noticia h3{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    margin: 5px 10px;
}

.noticia p{
    color: #ffffff;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    margin: 5px 10px;
}

.proximos_jogos h2{
    color: white;
    font-family: 'Titillium Web', sans-serif;
    text-transform: capitalize;
}

.conteudo_proximos_jogos{
    width: 275px;
    height: 766px;
    /* background-color: #000000; */
    background: -webkit-linear-gradient(top, rgba(5,5,5,1) 0%, rgba(9,9,9,1) 0%, rgba(9,9,9,1) 0%, rgba(54,54,54,1) 17%, rgba(54,54,54,1) 49%, rgba(54,54,54,1) 50%, rgba(54,54,54,1) 80%, rgba(5,5,5,1) 100%);
    padding: 16px 55px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.conteudo_proximos_jogos span{
    color: #ffffff;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

footer{
    background-color: black;
    height: 300px;
} 

.container_footer{
    display: flex;
    justify-content: space-between;
    height: 300px;
}

.container_footer span{
    color: white;
    font-family: 'Roboto', sans-serif;
    /* text-transform: capitalize; */
}

.links_uteis{
    list-style-type: circle;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
} 

.paginas{
    list-style-type: circle;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.container_footer img{
    width: 16vw;
}

.newsletter{
    width: auto;
}

.newsletter button{
    width: 90px;
    background-color: #0721B4;
    color:#ffffff;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    border-style: none;
}

.siga_nos{
    width: 360px;
}

.siga_nos img{
    width: 40px;
}
